{% extends "base.html" %}
{% block content %}
<div id='content' class="container list-page-content">
    <div class='row'>
      {% for message in get_flashed_messages() %}
      <div class='col-sm-12 text-center flash'>{{ message }}</div>
      {% endfor %}
    </div>
    <div class='row'>
      {% if error %}
      <div class='col-sm-12 text-center flash'>{{ error }}</div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Shopping list details</h3>
        {% for detail in list_details.keys() %}
          <div>{{ detail }} : {{ list_details[detail] }}</div>
        {% endfor %}
        {% if editable and 'username' in session.keys() %}
        <form action="{{ url_for('show_single_shoppinglist', username=username, list_id=list_id)}}" method="POST">
            <h3>Add Item</h3>
            <div class="form-group row">
             <label for="name-in" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name='name' id="name-in" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity-in" class="col-sm-3 col-form-label">Quantity</label>
                   <div class="col-sm-9">
                       <input type="number" class="form-control" name='quantity' id="quantity-in">
                   </div>
            </div>
            <div class="form-group row">
                <label for="unit-in" class="col-sm-3 col-form-label">Units</label>
                   <div class="col-sm-9">
                       <input type="text" class="form-control" name='unit' id="unit-in" placeholder="units">
                   </div>
            </div>
            <div class="form-group row justify-content-end">
                <div class="col-sm-4">
                 <button type="submit" class="btn btn-primary front-submit">Submit</button>
                </div>
          </div>
        </form>

        {% endif %}
      </div><!--col-sm-3-->
      <div class="col-sm-8">
        <h1>Shopping List: {% if list_details %}{{ list_details['title']}}{% endif %}
        </h1>
        Items
        {% for item in items %}
          <div>
            {{ item.name }} - {{item.quantity}} {{item.unit}}
            {% if 'username' in session and editable %}
              <form method="GET" action="{{ url_for('edit_shopping_item', username=username, item_id=item.id, list_id=item.parent_list.id) }}">
                <input type="hidden" name="_method" value="delete" />  
                <button type="submit" class="btn btn-primary">Delete</button>
              </form>
            {% endif %}
          </div>
        {% endfor %}
      </div><!--col-sm-3-->
    </div><!--row--> 
  </div><!--#content-->
{% endblock %}
